<div style="height:calc(100% - 60px)">
    <div class="card jumbotron" style="height:75%; width:50%; margin: 7% auto">
        <div class="card-body" style="display: flex; align-items:center; text-align:center;">
            <h3 class="display-4">FrontEnd exemplo no âmbito do projeto de Época Especial da Unidade Curricular Desenvolvimento Baseado em Modelos</h3>
        </div>
    </div>
</div>