var express = require("express");
var app = express();
const bodyParser = require('body-parser');
const api = require('./Controllers/api.js');

app.use(bodyParser.json());
app.use('/api', api);

var server = app.listen({{{port}}}, '{{{host}}}', () => {
    var host = server.address().address === "::" ? "localhost" : server.address().address;
    var port = server.address().port;
    
    console.log('Listening to http://%s:%s', host, port);
});