CREATE TABLE IF NOT EXISTS {{tableName}} (
    {{#columnsData}}
    {{name}} {{type}} {{required}} {{unique}} {{#primaryKey}}PRIMARY KEY AUTOINCREMENT{{/primaryKey}} {{{constraint}}}{{#needComa}},{{/needComa}}
    {{/columnsData}}
)