<html>
    <body>
        <h2>Add {{pageTitle}}</h2>
        <form method="Post" onsubmit="add(); return false;" id="addForm">
            {{#properties}}
            <div class="form-group">
                <label for="{{nameLowerCase}}">{{name}}:</label>
                <input type="{{type}}" id="image" class="form-control" name="{{nameLowerCase}}" {{#constraints}} {{name}}="{{value}}" {{/constraints}} {{#required}}required{{/required}}></input>
            </div>
            {{/properties}}
            {{#references}}
            <label>{{model}}:</label>
            <div id="div{{model}}value" class="form-group"></div>
            {{/references}}
            <input type="submit" value="Save" class="btn btn-primary" style="float: right;" />
        </form>
    </body>
    <script>
        {{#hasReferences}}
        function loadValues(model, label, controlId, isManyToMany) {
            $.get('../api/' + model, (data) => {
                let objects = [];
                data.forEach((item) => {
                    objects.push(isManyToMany ? 
                    "<label><input type='checkbox' name='" + label + "' value='" + item[label] + "' /> " + item[label] + "</label>" : 
                    "<option value='" + item[label] + "'>" + item[label] + "</option>");  
                });

                if (!isManyToMany) {
                    objects.unshift("<option value='null'> Selecione...</option>");
                    objects.unshift("<select id='" + model.toLowerCase() + "' name='" + model.toLowerCase() + "'>");
                    objects.push("</select>");
                }

                $(controlId).append(objects.join(""));
            });
        }

        $(document).ready(() => {
            {{#references}}
            loadValues('{{model}}','{{label}}','#div{{model}}value', {{isManyToMany}});
            {{/references}}
        }); 
        {{/hasReferences}}


        function add() {
            var payload = {};
            var filePath = null;
            var fileKey = null;
            var inputs = $('#addForm :input[class=form-control]');
            var formData = new FormData();
            inputs.each((index, input) => {
                if (input.type == 'file') {
                    formData.append('file', input.files[0]);
                    fileKey = input.name;
                } else {
                    payload[input.name] = input.value;
                }
            });

            if (formData.has('file')) {
                $.ajax({
                    url : '../api/upload',
                    type : 'POST',
                    data : formData,
                    processData: false, 
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success : function(data) {
                        payload[fileKey] = 'http://localhost:8183' + data.file.replace('Publish/Public', '');
                        create(payload);
                    }
                });
            } else {
                create(payload);
            }            
        }

        function create(payload) {
            $.ajax({
                type: "POST",
                url: "../api/{{pageTitle}}",
                contentType: 'application/json',
                data: JSON.stringify(payload),
                success: (data)=> {
                    if (!data.success) {
                        alert("Não foi possível efetuar a operação.")
                    } else {
                        location.reload();
                    }
                },
                dataType: "json"
            });
        }
    </script>
</html>
