<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../css/backoffice.css">
    </head>
    <body>
        <h2>{{pageTitle}} - Backoffice</h2>
        {{#data}}
        <table>
            {{#item}}
            <tr>
                <td>
                    {{#image}}
                    <img src="{{imageUrl}}" alt="{{imageCaption}}" title="{{imageCaption}}" />
                    {{/image}}
                </td>
                <td>
                    {{#data}}
                    <p style="text-transform: capitalize;">
                        <b>{{key}}</b><br/>
                        {{value}}
                    </p>
                    {{/data}}
                </td>
                {{#actions}}
                <td>
                    {{#item}}
                    <a href="{{link}}" title="{{tooltip}}" {{#modal}}onclick="loadModal('{{link}}')"{{/modal}} {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
                        {{#image}}
                        <img class="{{class}}" src="{{src}}" alt="{{alt}}" />
                        {{/image}}
                    </a>
                    {{/item}}
                </td>
                {{/actions}}
            </tr>
            {{/item}}
        </table>
        {{/data}}
        {{#empty}}
            <p class="listEmpty">{{.}}</p>
        {{/empty}}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
        {{#addButton}}
        <a href="#" {{#modal}}onclick="loadModal('{{link}}')"{{/modal}}>
            <div class="add"></div>
        </a>
        {{/addButton}}
    </body>

    <script>
        $(".modal").on("hidden.bs.modal", function(){
            $(".modal-content").html("");
        });

        function loadModal(url) {
            $.get(url, (data) => {
               $(".modal-content").html(data);
               $("#myModal").modal('show');
            });
            return false;
        }
    </script>
</html>