<html>
    <head>
        <title>{{pageTitle}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/backoffice.css">
    </head>
    <body>
        <h2>{{pageTitle}} - Backoffice</h2>
        {{#data}}
        <table>
            {{#item}}
            <tr>
                <td>
                    {{#image}}
                    <img src="{{imageUrl}}" alt="{{imageCaption}}" title="{{imageCaption}}" />
                    {{/image}}
                </td>
                <td>
                    {{#data}}
                    <p style="text-transform: capitalize;">
                        <b>{{key}}</b><br/>
                        {{value}}
                    </p>
                    {{/data}}
                </td>
                {{#actions}}
                <td>
                    {{#item}}
                    <a href="{{link}}" title="{{tooltip}}" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
                        {{#image}}
                        <img class="{{class}}" src="{{src}}" alt="{{alt}}" />
                        {{/image}}
                    </a>
                    {{/item}}
                </td>
                {{/actions}}
            </tr>
            {{/item}}
        </table>
        {{/data}}
        {{#empty}}
            <p class="listEmpty">{{.}}</p>
        {{/empty}}
        <div class="add"></div>
    </body>
</html>